$font__title: "Source Sans Pro";
$font__main: "Open Sans";

$color__text-main: #6c6c6c;
$color__text-title: #152639;
$color__text-active: #14f1e4;
$color__text-price: #14f1e4;
$color__text-review: #999;
$color__text-stock: #333;

$color__background-button: #152639;
$color__background-cart_total: #efefef;
$color__background-body: #fff;
$color__border-image: #eee;
$color__border-title: #14f1e4;
$color__background-button-checkout: #14f1e4;
$color__rating: #eecf23;
$color__background-input-checkout:#f9f9f9;